body {
    background-color: rgb(248, 246, 246) ;
    background: -webkit-linear-gradient(to bottom, #3f87a6, #ebf8e1, #f69d3c);
    background: linear-gradient(to bottom, #71B280, #134E5E);
    height: 100vh;
}

.flex-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

form {
    max-width: 450px;
    width:50%;
    min-width: 400px;
    background-color: white;
    padding: 20px;
    margin-top: 10vh;
    border-radius: 7.5px;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

.my-btn {
    color: black;
    background-color: #ebf8e1;
}

.my-btn:hover  {
    background-color: pink;
    color: white;
    border: 2px solid pink;
}
